.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.Display {
  background-color: #454a54;
  color: azure;
  margin-top: 10%;
  border-radius: 24px;
  height: 3rem;
  width: 16rem;
}

.CalculatorBase{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2.5rem;
  border-radius: 24px;
  height: 21rem;
  width: 18rem;
  background-color: #282c34;
}

.KeyboardSection{
  flex: 1;
  margin-top: 10%;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  width: 100%;
}

.ButtonsRow{
  display: flex;
  justify-content: space-evenly;
}

.Button{
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #454a54;
  height: 2rem;
  width: 3rem;
  border-radius: 12px;
  margin-bottom: 1rem;
}